/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    list-style: none;
    text-decoration: none;
}

/* CSS VARIABLES */
:root {
    /* primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}



body {
    font-family: 'Red Hat Display', sans-serif;    
    background-image: url(../images/pattern-background-desktop.svg);
    background-color: var(--pale-blue);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    min-height: 100vh;
       
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   
}
h5 {
    text-align: center;
    font-weight: 900;
    color: var(--dark-blue);
}

.card-text {
    text-align: center;
    color: var(--desaturated-blue);
}
.order__card {
    width: 22rem;
    height: fit-content;
    box-shadow: 0 10px 8px rgba(73, 66, 228, 0.3);    
}

/* PLAN SECTION  */
.plan {
    background-color: var(--very-pale-blue); 
    border-radius: 0 10px 10px 0;    
}
.plan ul {
    display: flex;    
    padding: 10px;
}
.plan ul li {
    flex-direction: column;
}
.plan ul li h6, p{
    padding-left: 30px;
    color: var(--dark-blue);
    font-weight: 700;
    
}
.plan ul li p {
    color: var(--desaturated-blue);
    line-height: 1.5;
}
.plan ul li a {
    color: #4942E4;
    margin-left: 40px;    
    font-weight: 700;    
}

.plan ul li a:hover {
    text-decoration: none;
    opacity: .8;
}

/* BUTTON SECTION */
.btn {
    background-color: #4942E4;
    color: white;
    box-shadow: 0 10px 8px rgba(73, 66, 228, 0.3);
}
.btn:hover {
    background-color: #4942E4;
    color: white;
    opacity: .8;
}

.cancel {
    text-align: center;
    margin-bottom: 20px;
    
}
.cancel a {
    text-decoration: none;
    color: var(--desaturated-blue);
    font-weight: 700;
}
.cancel a:hover {
    opacity: .8;
}

/* FOOTER */
.attribution {
      font-size: 11px;
      text-align: center;
      padding: 20px;
    }

.attribution a {
      color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 375px) {
    body {
        background-image: url(../images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}


